/test.mkv
/__pycache__
.DS_store
.mkv
.webp
experiments/
frontend/public/build/
static/
ffmpeg-master-latest-win64-gpl*
dist/
build/
frontend/public/build/
ffmpeg.exe
icon.ico
english_corpus.txt
cleaned_corpus.pkl
corpus.pkl
/venv
/.vscode